@font-face {
    font-family: "GOT-font";
    src: url("../assets/fonts/got-font/Game of Thrones.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  
.got-font {
    font-family: "GOT-font", serif;
}