#app {
  width: 100%;
  background-image: url(../crop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.cardl {
    border: 1.5px rgb(247, 134, 64) solid;
    border-radius: 1px;
    margin: 2rem;
    width: 15rem;
    height: 15rem;
    position: relative;
    box-shadow: 2px 2px 5px rgb(245, 160, 70);
    transition: all .2s ease-in-out;
  }
  
  .cardl > .img-container {
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .cardl > .img-container > img {
    width: 100%;
    height: 100%;
  }
  
  .cardl:hover {
    box-shadow: 8px 8px 20px rgb(56, 56, 56);
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .cardl:active {
    transform: translate(1px, 1px);
  }