
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 700px;
  width: 29vh;
  height: 27vh;
  margin: 1vh;
}

.card__inner {
  width: 29vh;
  height: 27vh;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;

}

.card__inner.card__inner--is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 29vh;
  height: 27vh;
  opacity: 0.97;
  backface-visibility: hidden;
  background-color: #dfd4ba;
  background-size: 150% auto;
  color: #5e523a;
  border-radius: 2px;
}

.card__face--front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--back {
  transform: rotateY(180deg);
  padding-top: 20px;
  padding-bottom: 25px;
  box-sizing: border-box;

}

.card__image {
  height: auto;
  width: 20vh;
  

}

.card__face-heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  color:#ea6500;
}

.card__face--divider {
  border-bottom: solid 1px #5e523a;
  width: 85%;
  margin: 2.2vh auto;
}

.card__face-content {
  height: 1.5vh;
  display: flex;
  margin-left: 0.5vh;
  font-size: 1.7rem;
  margin-top: 1vh;
}

.card__face-label {
  font-size: 1rem;
  font-family: "GOT-font", Helvetica, sans-serif;
  line-height: 1vw;
  padding: 1vw;
  
}

.card__face-message {
  color:rgb(2, 2, 2);
  margin-left: 0vh;
  font-size: 1.5rem;
  line-height: 1vw;
  padding: 0.9vw;
}

.card__face-house-words {
  font-style: normal;
  margin-top: 0;
  margin-bottom: 1vh;
  text-align: center;
  font-size: 2rem;
}

